@media screen and (max-width: 910px) {
  .menu--top {
    display: none;
  }
  .open-menu-btn {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  block-center,
  block-image-left,
  block-image-right {
    margin: 3em auto 1em auto;

    .block-image-left,
    .block-image-right {
      div {
        &:nth-child(2n+2), &:nth-child(2n+1) {
          width: calc(100% / 1 - 2%);
        }
        &:nth-child(2n+2) {
          margin-top: 2rem;
          margin-left: 0;
          margin-right: 3.5%;
        }
      }
    }
    h1, h2, h3, h4, h5, h6, p {
      padding: 0;
    }
  }

  header {
    height: 500px;

    .banner {
      padding-top: 0;
      font-size: 50px;
    }
  }

}