block-image-left {
  @extend .block;

  .block-image-left {
    display: table;
    clear: both;

    div {
      float: right;
      width: 35%;
      display: table;
      clear: both;
    }
    img {
      float: left;
      display: table;
    }
  }
}